@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";

  --color-yellow-primary: oklch(0.97 0.2109 109.77);
  --color-blue-primary: oklch(0.28 0.0924 268.13);
  --color-text-blue: oklch(0.37 0.0306 259.73);
  --color-blue-secondary: oklch(0.28 0.0924 268.13);
  --color-blue-tertiary: oklch(0.91 0.0169 271.23);
  --color-blue-dark: oklch(0.21 0.0318 264.66);
}

.button-nav {
  color: white;
  text-decoration: none;
  border: none;
  background: none;
}

.button-nav::before {
  margin-left: auto;
}

.button-nav::after, .button-nav::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  transition: 0.5s;
}

.button-nav:hover::after, .button-nav:hover::before {
  width: 100%;
}

.carousel_slide {
    /* padding: 5% 12% 8%; */
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
}

.carousel_slide.is-selected {
    transform: translateX(0);
}

.carousel_slide.is-selected ~ .carousel_slide {
    transform: translateX(100%);
}

.carousel_btn,
.carousel_dot {
    z-index: 1;
    padding: 0;
    cursor: pointer;
    border: none;
}

.carousel_btn {
    position: absolute;
    top: 50%;
    background-color: transparent;
    transform: translateY(-50%);
}

.carousel_btn:focus,
.carousel_dot:focus,
.carousel_btn:active,
.carousel_dot:active {
    outline: none;
}

.carousel_btn > * {
    pointer-events: none;
}

.carousel_btn svg {
    transform-origin: center;
    transition: fill 0.2s;
}

.jsPrev {
    left: 10px;
}

.jsNext {
    right: 10px;
}

.jsPrev svg {
    transform: rotate(-90deg);
}

.jsNext svg {
    transform: rotate(90deg);
}

.carousel_nav {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel_dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-yellow-primary);
    transition: background-color 0.2s;
}

.carousel_dot + .carousel_dot {
    margin-left: 20px;
}

.carousel_dot.is-selected {
    background-color: var(--color-blue-tertiary);
}