@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";

  --color-yellow-primary: oklch(0.97 0.2109 109.77);
  --color-blue-primary: oklch(0.28 0.0924 268.13);
  --color-text-blue: oklch(0.37 0.0306 259.73);
  --color-blue-secondary: oklch(0.28 0.0924 268.13);
  --color-blue-tertiary: oklch(0.91 0.0169 271.23);
  --color-blue-dark: oklch(0.21 0.0318 264.66);
}

.button-nav {
  color: white;
  text-decoration: none;
  border: none;
  background: none;
}

.button-nav::before {
  margin-left: auto;
}

.button-nav::after, .button-nav::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  transition: 0.5s;
}

.button-nav:hover::after, .button-nav:hover::before {
  width: 100%;
}